body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.about-hero {
    background: linear-gradient(to bottom right, #f9f9f9, #e0e0e0);
    padding: 30px 20px;
    text-align: center;
    border-bottom: 3px solid #ccc;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

 h1 {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin-bottom: 20px;
    color: #333;
}

.about-hero p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.8;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.image-section {
    flex: 1;
    /*min-width: 300px;*/
    width: auto;
    text-align: center;
    padding-right: 20px;
}

.eevee-image {
    /*height: 400px;*/
    width: 52%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    float: right;
}

.text-section {
    flex: 2;
    min-width: 300px;
    padding: 20px;
}

.text-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.text-section p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
}
