body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: relative;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.error404 {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    object-fit: contain; /* Ensure the image is fully visible */
    object-position: center; /* Center the image */
}