header {
    background-color: #ffffff;
    z-index: 2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logoContainer{
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: .5vh;
    margin-left: 2vh;
    margin-right: 50px;
}

.logo {
    max-width: 100%;
}

/* Hides the default bootstrap dropdown arrow on mobile menu */
.mobile-nav::after {
    display: none !important;
}

@media (min-width: 701px) {
    .mainnav {
        flex-grow: 1 !important;
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .mobile-menu{
        display: none;
    }
}

header .mainNavContainer .mainnav {
    display: none;
}

@media (max-width: 700px) {
    header .mainNavContainer .mainnav {
        display: none;
    }

    header .mainNavContainer .mobile-menu {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.mainNavContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menuItems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menuItems li {
    margin: 0 15px;
}

.menuItems a {
    text-decoration: none;
    color: #474747;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
}

.menuItems a:hover {
    color: #a6959b;
}

.user-dropdown .dropdown-item,
.user-dropdown .nav-link,
.user-dropdown {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    color: #474747;
    text-decoration: none;
    position: relative;
    z-index: 1000;
}

.loginsign-btn-div {
    display: flex;
    align-items: center;
}



.signup-btn{
    white-space: nowrap;
    background-color: #FDA763 !important;
    margin-left: 15px;

    height: 30px;
    width: 80px;
}



.login-btn:hover {
    background-color: #0cbfdf71;
}

.login-btn {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    height: 30px;
    width: 80px;
}

.loginsign-btn-div{
    margin-left: auto;
}




@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuItems {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .menuItems li {
        margin: 10px 0;
    }

    .loginsign-btn-div {
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width: 576px) {
    .headerContainer {
        align-items: center;
    }

    .menuItems a {
        font-size: 12px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 10px;
    }
}

.mainnav li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #474747;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;

    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3498db;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    &:hover {
        color: #95a5a6;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.navbar-dropdown {
    padding: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item-icon {
    margin-right: 0.5rem;
}



.sm-user-image {
    width: 30px;
    height: 30px;
}

.users-name {
    margin-left: 8px;
}

.locationBarContainer .btn-light {
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.locationBarContainer .form-select,
.locationBarContainer .form-control,
.locationBarContainer .btn-light {
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

}

.locationBarContainer .dropdown-pet-type,
.locationBarContainer .location-search,
.locationBarContainer .filters-dropdown {
    margin-right: 15px;
}

.filters-dropdown .btn-light.dropdown-toggle::after {
    display: none; /* Remove the default arrow */
}

.filters-dropdown .btn-light svg {
    margin-right: 8px;
    vertical-align: middle;
}


.locationBarContainer .form-select:focus,
.locationBarContainer .form-control:focus,
.locationBarContainer .btn-light:focus {
    box-shadow: none;
    border-color: initial;
}





