body{
    background-color: #F5F5F5 !important;
}

.accordion-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 5%;
}

.accordion {
    width: 70%;
    background-color: white;
}