HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules
src/main/resources/static/js/index.js
src/main/resources/static/js/ResultPane.js
src/main/resources/static/js/server.js
src/main/resources/static/js/_app.js
src/main/resources/static/js/AnimalCard.js
src/main/webapp/WEB-INF/jsp/auth/petfinder-OAuth-Token.js
src/main/java/com/barkbond/model/Pet.java
*.env
