
:root {
    --columns: 2;
    --yellow: rgb(255, 219, 108);
    --pink: rgb(169, 243, 255);
    --blue: rgb(255, 255, 255);
    --green: rgb(255, 255, 255);
    --white: rgb(255, 191, 95);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    max-height: 900px;
    margin: 0 auto; /* Center the container itself */
}

.index-hero {
    /*background-color: #ffffff;*/
    width: 100%;
    height: 600px;
    position: relative;
}
@media (max-width: 2100px) {
    .index-hero {
        height: 800px;
    }
}
@media (max-width: 1800px) {
    .index-hero {
        height: 800px;
    }
}
@media (max-width: 1500px) {
    .index-hero {
        height: 680px;
    }
}

@media (max-width: 1200px) {
    .index-hero {
        height: 650px;
    }
}

@media (max-width: 900px) {
    .index-hero {
        height: 500px;
    }
}

@media (max-width: 600px) {
    .index-hero {
        height: 400px;
    }
}

@media (max-width: 400px) {
    .index-hero {
        height: 300px;
    }
}


.index-hero-ul {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    margin: 200px -40px;
    border-radius: 50%;
}


.index-hero-ul li {
    grid-column-end: span 2;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
}

.index-hero-ul li:nth-child(2n) {
    grid-column-start: 2;
}

.index-hero-ul li::before,
.index-hero-ul li::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 50% 100%, 100% 100%;
    background-position: left, right;
}




.index-hero-ul li::before {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    background-repeat: no-repeat;
    background-image: linear-gradient(
            -45deg,
            var(--yellow) 53.5%,
            var(--green) 53.5%,
            var(--green) 60%,
            var(--yellow) 60%
    ),
    linear-gradient(
            45deg,
            var(--yellow) 65.3%,
            var(--green) 65.3%,
            var(--green) 69.9%,
            var(--yellow) 69.9%
    );
}

.index-hero-ul li::after {
    clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
    -webkit-clip-path: polygon(
            100% 50%,
            50% 100%,
            0 50%,
            20% 50%,
            50% 80%,
            80% 50%
    );
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, var(--yellow) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--yellow) 30%, var(--green) 30%);
}

.index-hero-ul li:nth-child(2n)::before {
    background-image: linear-gradient(
            -45deg,
            var(--pink) 53.5%,
            var(--blue) 53.5%,
            var(--blue) 60%,
            var(--pink) 60%
    ),
    linear-gradient(
            45deg,
            var(--pink) 65.3%,
            var(--blue) 65.3%,
            var(--blue) 69.9%,
            var(--pink) 69.9%
    );
}

.index-hero-ul li:nth-child(2n)::after {
    background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%),
    linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
}

.index-hero-ul li:nth-child(5n)::before {
    background-image: linear-gradient(
            -45deg,
            var(--green) 53.5%,
            var(--pink) 53.5%,
            var(--pink) 60%,
            var(--green) 60%
    ),
    linear-gradient(
            45deg,
            var(--green) 65.3%,
            var(--pink) 65.3%,
            var(--pink) 69.9%,
            var(--green) 69.9%
    );
}

.index-hero-ul li:nth-child(5n)::after {
    background-image: linear-gradient(45deg, var(--green) 40%, var(--pink) 40%),
    linear-gradient(-45deg, var(--green) 30%, var(--pink) 30%);
}

.index-hero-ul li:nth-child(7n)::before,
.index-hero-ul li:nth-child(7n-4)::before {
    background-image: linear-gradient(
            -45deg,
            var(--blue) 53.5%,
            var(--white) 53.5%,
            var(--white) 60%,
            var(--blue) 60%
    ),
    linear-gradient(
            45deg,
            var(--blue) 65.3%,
            var(--white) 65.3%,
            var(--white) 69.9%,
            var(--blue) 69.9%
    );
}

.index-hero-ul li:nth-child(7n)::after,
.index-hero-ul li:nth-child(7n-4)::after {
    background-image: linear-gradient(45deg, var(--blue) 40%, var(--white) 40%),
    linear-gradient(-45deg, var(--blue) 30%, var(--white) 30%);
}

.index-hero-ul li:nth-child(9n)::before,
.index-hero-ul li:nth-child(9n-5)::before {
    background-image: linear-gradient(
            -45deg,
            var(--white) 53.5%,
            var(--green) 53.5%,
            var(--green) 60%,
            var(--white) 60%
    ),
    linear-gradient(
            45deg,
            var(--white) 65.3%,
            var(--green) 65.3%,
            var(--green) 69.9%,
            var(--white) 69.9%
    );
}

.index-hero-ul li:nth-child(9n)::after,
.index-hero-ul li:nth-child(9n-5)::after {
    background-image: linear-gradient(45deg, var(--white) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--white) 30%, var(--green) 30%);
}

.index-hero-ul img {
    position: absolute;
    width: 43%;
    left: 50%;
    top: 82%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    /* transition-property: transform;
      transition-duration: 0.3s; */
    clip-path: polygon(0% 0%, 100% 0, 95% 55%, 58% 52%, 52% 58%, 30% 73%, 5% 57%);
}

.index-hero-ul .hero-img-size-1 {
    position: absolute;
    width: 45%;
    left: 50%;
    top: 82%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    /* transition-property: transform;
    transition-duration: 0.3s; */
    clip-path: polygon(0% 0%, 100% 0, 95% 55%, 58% 52%, 52% 58%, 0% 60%, 5% 57%);
}


.index-hero-ul li:hover .hero-img-size-1 {
    top: 54%;
    clip-path: polygon(
            0% 0%,
            100% 0,
            95% 55%,
            100% 100%,
            0% 100%,
            0% 0%,
            0 0
    );
}


.index-hero-ul .hero-img-size-2{
    position: absolute;
    width: 46%;
    left: 50%;
    top: 80%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(0% 0%, 100% 0, 95% 55%, 68% 72%, 62% 68%, 60% 73%, 0% 57%);
}

.index-hero-ul li:hover .hero-img-size-2 {
    top: 60% !important;
    clip-path: polygon(
            50% 0%,
            100% 00%,
            100% 55%,
            80% 85%,
            90% 93%,
            0% 100%,
            0% 0%
    );
}

.index-hero-ul .hero-img-size-3{
    position: absolute;
    width: 78%;
    left: 50%;
    top: 83%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(0% 0%, 100% 0, 75% 55%, 68% 62%, 62% 68%, 0% 0%);
}

.index-hero-ul li:hover .hero-img-size-3 {
    top: 55% !important;
    clip-path: polygon(100% 0%, 100% 70%, 90% 100%, 40% 100%, 0% 70%, 0% 0%);
}

.index-hero-ul .hero-img-size-4{
    position: absolute;
    width: 66%;
    left: 50%;
    top: 93%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(0% 0%, 100% 0, 75% 55%, 68% 62%, 62% 68%, 60% 73%, 0% 57%);
}

.index-hero-ul li:hover .hero-img-size-4 {
    top: 55% !important;
    clip-path: polygon(0% 0%, 70% 0, 100% 59%, 100% 100%, 0% 100%, 28% 100%, 0% 67%);
}

.index-hero-ul .hero-img-size-5{
    position: absolute;
    width: 65%;
    left: 50%;
    top: 84%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(0% 0%, 100% 0, 75% 55%, 68% 62%, 22% 55%, 0% 0%, 0% 0%);
}

.index-hero-ul li:hover .hero-img-size-5 {
    top: 55% !important;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 100% 100%, 20% 100%, 0 0, 0 0);
}


.index-hero-ul .hero-img-size-6{
    position: absolute;
    width: 65%;
    left: 50%;
    top: 94%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(50% 0%, 100% 0, 75% 35%, 50% 70%, 40% 25%, 0% 0%);
}

.index-hero-ul li:hover .hero-img-size-6 {top: 59% !important;
    clip-path: polygon(50% 0, 100% 0, 100% 44%, 80% 100%, 20% 100%, 0 0, 0 0);
}

.index-hero-ul .hero-img-size-7{
    position: absolute;
    width: 75%;
    left: 50%;
    top: 82%;
    transform: translateX(-50%) translateY(-60%);
    transition: transform 0.3s ease;
    clip-path: polygon(100% 0%, 100% 60%, 78% 62%, 10% 62%, 0 60%, 0% 0%);
}
.index-hero-ul li:hover .hero-img-size-7 {
    top: 59% !important;
    clip-path: polygon(100% 0, 70% 0, 80% 24%, 70% 100%, 30% 100%, 0 0);
}




@media (min-width: 450px) {
    .index-hero-ul {
        margin: 140px 40px;
    }
}
@media (min-width: 600px) {
    :root {
        --columns: 5;
    }
    .index-hero-ul li:nth-child(2n) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(4n-1) {
        grid-column-start: 2;
    }
}
@media (min-width: 900px) {
    :root {
        --columns: 7;
    }
    .index-hero-ul li:nth-child(4n-1) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(6n-2) {
        grid-column-start: 2;
    }
}
@media (min-width: 1200px) {
    :root {
        --columns: 9;
    }
    .index-hero-ul li:nth-child(6n-2) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(8n-3) {
        grid-column-start: 2;
    }
}
@media (min-width: 1500px) {
    :root {
        --columns: 9;
    }
    .index-hero-ul li:nth-child(6n-2) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(8n-3) {
        grid-column-start: 2;
    }
}
@media (min-width: 1800px) {
    :root {
        --columns: 9;
    }
    .index-hero-ul li:nth-child(6n-2) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(8n-3) {
        grid-column-start: 2;
    }
}
@media (min-width: 2100px) {
    :root {
        --columns: 9;
    }
    .index-hero-ul li:nth-child(6n-2) {
        grid-column-start: auto;
    }
    .index-hero-ul li:nth-child(8n-3) {
        grid-column-start: 2;
    }
}

ul {
    list-style-type: none;
}

.feature-pet-name {
    position: absolute;
    /*top: 90px;*/
    top:35%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    z-index: 0;
    font-size: 25px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #76787e;
    opacity: 1;
    transition: opacity 0.5s ease;
}


.index-hero-ul li:hover .feature-pet-name {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.phrase-container {
    width: 100%;
    /*height: 100vh;*/
    /*background: #232323;*/

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        width: auto;
        height: auto;

        .title {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: auto;

            #hero-phrase {
                        font-family: "Nanum Pen Script", cursive;
                        font-weight: 400;
                        font-style: normal;
                    text-align: center;
                    font-size: 60px;
                    margin-top: 3%;
                color: #5cd9ff;
                -webkit-animation: mainFadeIn 2s forwards;
                -o-animation: mainFadeIn 2s forwards;
                animation: mainFadeIn 2s forwards;
                /*animation-delay: 1.6s;*/
                opacity: 0;
                display: flex;
                align-items: baseline;
                position: relative;

                span {
                    width:5px;
                    height: 5px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;

                    background: #FFBF5FFF;
                    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 2s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 25px;
                    right: -12px;

                }
            }
        }


        .block {
            position: absolute;
            width: 0; /* Initial width to cover the word "happiness" */
            height: 40px; /* Adjust height as needed */
            top: 40px;
            left: 100px; /* Position over "happiness" */
            background: #ffdb6c; /* Initial background color */
            animation: secBlock 4s cubic-bezier(.74, .06, .4, .92) forwards;
            animation-delay: 2s;
        }

        @keyframes secBlock {
            0% {
                width: 0%;
                left: 0;
            }
            50% {
                width: 100%;
                left: 0;
            }
            100% {
                width: 100%; /* Keep the block visible at the end */
                left: 0;
            }
        }

        }
    }


@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;

    }
    50% {
        width: 100%;
        left: 0;

    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;

    }
    50% {
        width: 100%;
        left: 0;

    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #FFBF5FFF;
        border: 0px solid #FFBF5FFF;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #FFBF5FFF;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px
    }
    100% {
        width: 7px;
        height: 7px;
        background: #FFBF5FFF;
        border: 0px solid #222;
        bottom: 13px;

    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}


@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px
    }
    100% {
        opacity: 1;
        bottom: 0px

    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0.0);
    }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-02deg);
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}



.index-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
    background-color: #0CC0DF;
}

.searchbar-contents{
    width: 100%;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    background-image: url('../webapp/pub/images/index-search-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-row {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-box.search-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    padding-right: 3%;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
width: 150px;
    background-color: #e6955c;
    color: white
}


.search-btn:hover {
    background-color: #e6955c;
    color: white;
    /*color: #eaeaea;*/
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align the image to the bottom */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure the image does not overflow the container */
}

.dogs-img {
    /*max-width: 95%;*/
    max-height: 95%;
    /*object-fit: cover; */
}