body{
    background-color: #F5F5F5 !important;
}

.accordion-container {
    display: flex;
    align-items: center; /* Center children vertically */
    min-height: 100vh; /* Full viewport height */
    flex-direction: column; /* Stack children vertically */
    margin-top: 5%;
}

.accordion {
    width: 70%; /* Smaller width, adjust as needed */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}