html, body {
    /*height: 100%;*/
    /*height: calc(100vh - 72px - 150px); !* 100vh is the full height of the viewport, 72px is the height of the header, and 150px is the height of the footer *!*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* login and signup modal

.modal-backdrop {
    opacity: 0.20 !important;
    z-index: 2;
}

.modal-content {
    z-index: 3!important;
}  */



/*header {*/
/*    height: 72px;*/
/*    background-color: #343a40;*/
/*    z-index: 1000;*/
/*}*/

/*footer {*/
/*    height: 150px;*/
/*    background-color: #eeebe6 !important;*/
/*    z-index:1000;*/
/*    !*overflow: hidden;*!*/
/*}*/

main {
    display: flex;
    flex: 1; /* Take up the remaining space between header and footer */
    width: 100%;
}

.locationBarContainer{
    position: relative;
    height: 45px;
}

.locationBar {
    display: flex; /* This makes the location bar a flex container */
    align-items: center; /* This vertically aligns the items in the location bar */
    justify-content: flex-start; /* This aligns the items to the start of the location bar */
     position: relative;
     background-color: #ffdb6c;
    /*#504746*/
     height: 45px;
     width: 100%;
     z-index: 2;
    align-content: center;
    padding-left: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }



 .dropdown-petType {
	width: 230px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.dropdown-petType > a::after,
.dropdown-petType.toggle > label::after {
	content: "";
	float: right;
	margin: 15px 15px 0 0;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #ccc;
}
.dropdown-petType ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.dropdown-petType a,
.dropdown-petType> label {
	display: block;
	padding: 0 0 0 10px;
	text-decoration: none;
	line-height: 40px;
	/* font-size: 13px; */
    font-size: 1rem;
    font-weight: 400;
	text-transform: uppercase;
	/* font-weight: bold; */
	color: #999;
	background-color: #fff;
}
.dropdown-petType li {
	height: 0;
	overflow: hidden;
	transition: all 500ms;
}
.dropdown-petType.hover li {
	transition-delay: 300ms;
}
.dropdown-petType li:first-child a {
	border-radius: 2px 2px 0 0;
}
.dropdown-petType li:last-child a {
	border-radius: 0 0 2px 2px;
}
.dropdown-petType li:first-child a::before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	margin: -10px 0 0 30px;
}
/* .dropdown-petType a:hover,
.dropdown-petType.toggle > label:hover,
.dropdown-petType.toggle > input:checked ~ label {
	background-color: #eee;
	color: #666;
} */
/* .dropdown-petType > a:hover::after,
.dropdown-petType.toggle > label:hover::after,
.dropdown-petType.toggle > input:checked ~ label::after {
	border-top-color: #aaa;
} */
/* .dropdown-petType li:first-child a:hover::before {
	border-bottom-color: #eee;
} */

.dropdown-petType.hover:hover li,
.dropdown-petType.toggle > 

t:checked ~ ul li {
	height: 40px;
}
.dropdown-petType.hover:hover li:first-child{
	padding-top: 15px;
}



/* .dropdown-petType {
    box-sizing: content-box;
    width: 200px;
    margin: 0;
    display: inline-block;
    position: relative;
}
.dropdown-petType.toggle > input {
    display: none;
}
.dropdown-petType > a, .dropdown-petType.toggle > label {
    border-radius: 5px;
    /*box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);*/
    /* height: 35px;
}
.dropdown-petType > a::after, .dropdown-petType.toggle > label::after {
    content: "";
    float: right;
    margin: 15px 15px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #CCC;
}
.dropdown-petType ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
    overflow: hidden;
}
.dropdown-petType a, .dropdown-petType.toggle > label {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px; */
    /*font-size: 13px;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /* color: #999;
    background-color: #FFF;
}
.dropdown-petType li {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.dropdown-petType.hover li {
    transition-delay: 300ms;
}
.dropdown-petType li:first-child a {
    border-radius: 2px 2px 0 0;
}
.dropdown-petType li:last-child a {
    border-radius: 0 0 2px 2px;
}
.dropdown-petType li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    margin: -10px 0 0 30px;
}
.dropdown-petType a:hover, .dropdown-petType.toggle > label:hover, .dropdown-petType.toggle > input:checked ~ label {
    background-color: #EEE;
    color: #666;
}
.dropdown-petType > a:hover::after, .dropdown-petType.toggle > label:hover::after, .dropdown-petType.toggle > input:checked ~ label::after {
    border-top-color: #AAA;
}
.dropdown-petType li:first-child a:hover::before {
    border-bottom-color: #EEE;
}
.dropdown-petType.hover:hover li, .dropdown-petType.toggle > input:checked ~ ul li {
    height: 40px;
}
.dropdown-petType.hover:hover li:first-child, .dropdown-petType.toggle > input:checked ~ ul li:first-child {
    padding-top: 15px;
} */


/*#locationSearch{*/
/*    padding-left: 15px;*/
/*    margin-left: 30px;*/
/*}*/


.form-control.location{
    position: relative;
    display: block;
    width: 240px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    color: #999;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 15px; /* Add some space between the dropdown and the input field */

}
/*----------Sidebar Code------------*/

/*.sideBarContainer{*/
/*    display: flex;*/
/*    !*align-items: flex-start; !* This will align the sidebar and card container at the top *!*!*/
/*    min-height: 100vh;*/
/*    width: 200px;*/
/*    !*overflow: hidden;*!*/
/*}*/

.sideBar{
    position: fixed;
    top: 0;
    flex-shrink: 0;
    height: 100vh;
    width: 200px;
    /*height: calc(100vh - 72px - 30px); !* 72px is the height of the header and 30px is the height of the footer *!*/
    background-color: white;
}
/*---------------------------------------------*/

/*.footerContainer {*/
/*    height: 150px;*/

/*    background-color: #eeebe6;*/

/*    z-index: 1000;*/
/*}*/

/*header{*/
/*    z-index: 1000;*/
/*}*/


#pageNumberBar{
    position: sticky;
    bottom: 0;
    /*width: 100%;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

#cardContainer{
    /*overflow: auto;*/
    flex-grow:1;
    /*display: flex;*/
    /*justify-content: center;*/
    width: 75%;
    margin-top: 70px;
    margin-left: 20%;
}


#cards {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    gap: 45px;
    row-gap: 50px;
}

.card {
    width: 200px;
    height: 280px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImg{
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.cardTextContainer{
    padding-left: 3px;
    padding-right: 3px;
}


.card:hover{
    /*outline: 2px solid #00b2ff;*/
    outline: 2px solid #ffffff;
    outline-offset: 6px;
    /*-webkit-box-shadow: 0px 2px 12px 1px rgba(255,253,117,1);*/
    /*-moz-box-shadow: 0px 2px 12px 1px rgba(255,253,117,1);*/
    /*box-shadow: 0px 2px 12px 1px rgb(255, 231, 120);*/
    /*border-radius: 3px;*/
    /*box-shadow: 0px 0px 0px 5px rgb(81, 240, 255), 0px 0px 0px;*/
    /*padding: 5px;*/

}

/*---------Next Page Number Bar (pagination)---------*/

#pageNumContainer{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 20px;
}

.pagination {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 40px;
    margin-top: 60px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #0cc0df;
    color: #ffffff;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 40px;
}

.material-icons-round.arrows:hover{
    color: #0cc0df;
}
