html, body {
    /*height: 100%;*/
    height: calc(100vh - 72px - 150px); /* 100vh is the full height of the viewport, 72px is the height of the header, and 150px is the height of the footer */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 72px;
    background-color: #343a40;
    z-index: 1000;
}

footer {
    height: 150px;
    background-color: #eeebe6 !important;
    z-index:1000;
    /*overflow: hidden;*/
}

main {
    display: flex;
    flex: 1; /* Take up the remaining space between header and footer */
    width: 100%;
}



/*----------Sidebar Code------------*/

.sideBarContainer{
    display: flex;
    /*align-items: flex-start; !* This will align the sidebar and card container at the top *!*/
    min-height: 100vh;
    width: 200px;
    /*overflow: hidden;*/
}

.sideBar{
    position: fixed;
    top: 0;
    flex-shrink: 0;
    height: 100vh;
    width: 200px;
    /*height: calc(100vh - 72px - 30px); !* 72px is the height of the header and 30px is the height of the footer *!*/
    background-color: white;
}
/*---------------------------------------------*/

/*.footerContainer {*/
/*    height: 150px;*/

/*    background-color: #eeebe6;*/

/*    z-index: 1000;*/
/*}*/

/*header{*/
/*    z-index: 1000;*/
/*}*/

#pageNumberBar{
    position: sticky;
    bottom: 0;
    /*width: 100%;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

#cardContainer{
    /*overflow: auto;*/
    flex-grow:1;
    /*display: flex;*/
    /*justify-content: center;*/
    width: 70%;
    margin-top: 100px;
    margin-left: 20%;
}


#cards {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    gap: 25px;
}

.card {
    width: 200px;
    height: 260px;
    box-sizing: border-box;
}

.cardImg{
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.cardTextContainer{
    padding-left: 3px;
    padding-right: 3px;
}

.modal-backdrop {
    opacity: 0.9 !important;
}

