:root {
  --columns: 2;
  --yellow: rgb(255, 219, 108);
  --pink: rgb(133, 220, 247);
  --blue: rgb(255, 255, 255);
  --green: rgb(255, 255, 255);
  --white: rgb(255, 165, 29);
}

/* body {
  background-color: #182028;
} */

.index-hero-ul {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 200px -40px;
  border-radius: 50%;
}

.index-hero-ul li {
  grid-column-end: span 2;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-top: -50%;
}

.index-hero-ul li:nth-child(2n) {
  grid-column-start: 2;
}

.index-hero-ul li::before,
.index-hero-ul li::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 50% 100%, 100% 100%;
  background-position: left, right;
}

.index-hero-ul li::before {
  z-index: -10;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      -45deg,
      var(--yellow) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--yellow) 60%
    ),
    linear-gradient(
      45deg,
      var(--yellow) 65.3%,
      var(--green) 65.3%,
      var(--green) 69.9%,
      var(--yellow) 69.9%
    );
}

.index-hero-ul li::after {
  clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
  -webkit-clip-path: polygon(
    100% 50%,
    50% 100%,
    0 50%,
    20% 50%,
    50% 80%,
    80% 50%
  );
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, var(--yellow) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--yellow) 30%, var(--green) 30%);
}

.index-hero-ul li:nth-child(2n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--pink) 53.5%,
      var(--blue) 53.5%,
      var(--blue) 60%,
      var(--pink) 60%
    ),
    linear-gradient(
      45deg,
      var(--pink) 65.3%,
      var(--blue) 65.3%,
      var(--blue) 69.9%,
      var(--pink) 69.9%
    );
}

.index-hero-ul li:nth-child(2n)::after {
  background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%),
    linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
}

.index-hero-ul li:nth-child(5n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--green) 53.5%,
      var(--pink) 53.5%,
      var(--pink) 60%,
      var(--green) 60%
    ),
    linear-gradient(
      45deg,
      var(--green) 65.3%,
      var(--pink) 65.3%,
      var(--pink) 69.9%,
      var(--green) 69.9%
    );
}

.index-hero-ul li:nth-child(5n)::after {
  background-image: linear-gradient(45deg, var(--green) 40%, var(--pink) 40%),
    linear-gradient(-45deg, var(--green) 30%, var(--pink) 30%);
}

.index-hero-ul li:nth-child(7n)::before,
.index-hero-ul li:nth-child(7n-4)::before {
  background-image: linear-gradient(
      -45deg,
      var(--blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--blue) 60%
    ),
    linear-gradient(
      45deg,
      var(--blue) 65.3%,
      var(--white) 65.3%,
      var(--white) 69.9%,
      var(--blue) 69.9%
    );
}

.index-hero-ul li:nth-child(7n)::after,
.index-hero-ul li:nth-child(7n-4)::after {
  background-image: linear-gradient(45deg, var(--blue) 40%, var(--white) 40%),
    linear-gradient(-45deg, var(--blue) 30%, var(--white) 30%);
}

.index-hero-ul li:nth-child(9n)::before,
.index-hero-ul li:nth-child(9n-5)::before {
  background-image: linear-gradient(
      -45deg,
      var(--white) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--white) 60%
    ),
    linear-gradient(
      45deg,
      var(--white) 65.3%,
      var(--green) 65.3%,
      var(--green) 69.9%,
      var(--white) 69.9%
    );
}

.index-hero-ul li:nth-child(9n)::after,
.index-hero-ul li:nth-child(9n-5)::after {
  background-image: linear-gradient(45deg, var(--white) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--white) 30%, var(--green) 30%);
}

.index-hero-ul img {
  position: absolute;
  width: 43%;
  left: 50%;
  top: 82%;
  transform: translateX(-50%) translateY(-60%);
  transition: transform 0.3s ease;
  /* transition-property: transform;
    transition-duration: 0.3s; */
  clip-path: polygon(0% 0%, 100% 0, 95% 55%, 58% 52%, 52% 58%, 30% 73%, 5% 57%);
}

.index-hero-ul#img1 {
  position: absolute;
  width: 43%;
  left: 50%;
  top: 82%;
  transform: translateX(-50%) translateY(-60%);
  transition: transform 0.3s ease;
  /* transition-property: transform;
  transition-duration: 0.3s; */
  clip-path: polygon(0% 0%, 100% 0, 95% 55%, 58% 52%, 52% 58%, 30% 73%, 5% 57%);
}

.index-hero-ul #img2 {
  position: absolute;
  width: 43%;
  left: 50%;
  top: 80%;
  transform: translateX(-50%) translateY(-60%);
  transition: transform 0.3s ease;
  /* transition-property: transform;
    transition-duration: 0.3s; */
  clip-path: polygon(0% 0%, 100% 0, 95% 55%, 68% 72%, 62% 68%, 60% 73%, 0% 57%);
}
.index-hero-ul #img2:hover {
  /*transform: translateX(-40%) translateY(-70%) rotatez(25deg); up with tilt*/
  top: 60% !important;
  clip-path: polygon(
    0% 0%,
    100% 0,
    95% 55%,
    80% 85%,
    90% 93%,
    28% 100%,
    0% 67%
  );
}

.index-hero-ul #img3 {
  position: absolute;
  width: 78%;
  left: 50%;
  top: 83%;
  transform: translateX(-50%) translateY(-60%);
  transition: transform 0.3s ease;
  /* transition-property: transform;
      transition-duration: 0.3s; */
  clip-path: polygon(0% 0%, 100% 0, 75% 55%, 68% 62%, 62% 68%, 60% 73%, 0% 57%);
}
.index-hero-ul #img3:hover {
  /*transform: translateX(-40%) translateY(-70%) rotatez(25deg); up with tilt*/
  top: 55% !important;
  clip-path: polygon(0% 0%, 55% 0, 90% 50%, 70% 75%, 80% 90%, 28% 100%, 0% 67%);
}

.index-hero-ul #img1:hover {
  /*transform: translateX(-40%) translateY(-70%) rotatez(25deg); up with tilt*/
  top: 60%;
  clip-path: polygon(
    0% 0%,
    100% 0,
    95% 55%,
    80% 85%,
    49% 100%,
    38% 93%,
    0% 57%
  );
}
@media (min-width: 450px) {
  .index-hero-ul {
    margin: 190px 40px;
  }
}
@media (min-width: 600px) {
  :root {
    --columns: 5;
  }
  .index-hero-ul li:nth-child(2n) {
    grid-column-start: auto;
  }
  .index-hero-ul li:nth-child(4n-1) {
    grid-column-start: 2;
  }
}
@media (min-width: 900px) {
  :root {
    --columns: 7;
  }
  .index-hero-ul li:nth-child(4n-1) {
    grid-column-start: auto;
  }
  .index-hero-ul li:nth-child(6n-2) {
    grid-column-start: 2;
  }
}
@media (min-width: 1200px) {
  :root {
    --columns: 9;
  }
  .index-hero-ul li:nth-child(6n-2) {
    grid-column-start: auto;
  }
  .index-hero-ul li:nth-child(8n-3) {
    grid-column-start: 2;
  }
}
@media (min-width: 1500px) {
  :root {
    --columns: 11;
  }
  li:nth-child(8n-3) {
    grid-column-start: auto;
  }
  li:nth-child(10n-4) {
    grid-column-start: 2;
  }
}
@media (min-width: 1800px) {
  :root {
    --columns: 13;
  }
  li:nth-child(10n-4) {
    grid-column-start: auto;
  }
  li:nth-child(12n-5) {
    grid-column-start: 2;
  }
}
@media (min-width: 2100px) {
  :root {
    --columns: 15;
  }
  .index-hero-ul li:nth-child(12n-5) {
    grid-column-start: auto;
  }
  .index-hero-ul li:nth-child(14n-6) {
    grid-column-start: 2;
  }
}

ul {
  list-style-type: none;
}

.feature-pet-name {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  z-index: -1;
  font-size: 25px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #878787;
}
