.accordion-container {
  display: flex;
  align-items: center; /* Center children vertically */
  min-height: 100vh; /* Full viewport height */
  flex-direction: column; /* Stack children vertically */
  margin-top: 5%;
}

.accordion {
  width: 70%; /* Smaller width, adjust as needed */
}
