# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Other files
.env
/_app.js
/petfinder-OAuth-Token.js
/server.js
/index.js
/AnimalCard.js
/ResultPane.js
/package-lock.json
/package.json
/process.env
.xml
/node_modules
/@babel
@mui
/runtime